@import '~antd/dist/antd.css';

@font-face {
    font-family: 'Alpaca Scarlett';
    src: local('Alpaca Scarlett'), local('AlpacaScarlett'),
    url('fonts/alpaca_scarlett_demo-webfont.woff2') format('woff2'),
    url('fonts/alpaca_scarlett_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alpaca_solidify_regular';
    src: local('Alpaca Solidify'), local('AlpacaSolidify'),
    url('fonts/alpaca_solidify-webfont.woff2') format('woff2'),
    url('fonts/alpaca_solidify-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: local('Lato Regular'), local('LatoRegular'),
    url('fonts/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato Semibold';
    src: local('Lato SemiBold'), local('LatoSemibold'),
    url('fonts/lato-semibold-webfont.woff2') format('woff2'),
    url('fonts/lato-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato Semibold Italic';
    src: local('Lato SemiBold Italic'), local('LatoSemiboldItalic'),
    url('fonts/lato-semibolditalic-webfont.woff2') format('woff2'),
    url('fonts/lato-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato Light';
    src: local('Lato SemiBold Light'), local('LatoSemiboldLight'),
    url('fonts/lato-light-webfont.woff2') format('woff2'),
    url('fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?htdcyo');
    src:  url('fonts/icomoon.eot?htdcyo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?htdcyo') format('truetype'),
    url('fonts/icomoon.woff?htdcyo') format('woff'),
    url('fonts/icomoon.svg?htdcyo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
}

html {
    -webkit-text-size-adjust: none;
}

html, body {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato Regular', sans-serif;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
